<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488893091726-4p5bt0fri7dkr4gvbn8haaqnira8i112.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488893091726-4p5bt0fri7dkr4gvbn8haaqnira8i112</string>
	<key>API_KEY</key>
	<string>AIzaSyDcR2nqrZN1Hvno0V_pxRXGqsI5YJhyEj8</string>
	<key>GCM_SENDER_ID</key>
	<string>488893091726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verse</string>
	<key>PROJECT_ID</key>
	<string>verse-6ae16</string>
	<key>STORAGE_BUCKET</key>
	<string>verse-6ae16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488893091726:ios:7d5064cc7d87e4e1641edf</string>
</dict>
</plist>